<div class="content">
	<h1 class="app">{{title}}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores fugiat ipsum modi nam nostrum similique
		sint. Corporis cum dignissimos nam officiis quasi ullam ut velit. Dolores excepturi voluptas voluptatem
		voluptatibus.
	</p>
	<p>Assumenda corporis, dolorum eius eligendi exercitationem illo impedit ipsum, necessitatibus nisi nostrum odio
		placeat quae quibusdam quidem recusandae rerum vitae. Minus neque porro provident quo saepe totam! Laboriosam,
		libero obcaecati!
	</p>
	<p>Beatae corporis cum deleniti, doloribus ea, earum eos error facere facilis id inventore magni maiores modi
		mollitia nostrum odit placeat praesentium quisquam temporibus voluptatum. Architecto consectetur error inventore
		libero tenetur.
	</p>
	<p>Ab alias amet architecto asperiores aut autem beatae blanditiis consequatur culpa doloribus dolorum eius facere
		iste laborum libero magnam mollitia neque nobis omnis, porro quae qui repellat, sapiente temporibus tenetur?
	</p>
	<p>Aperiam asperiores aut consectetur cupiditate dicta dolore dolorem eaque eius, eligendi enim excepturi facilis,
		hic illo inventore laboriosam nemo nesciunt nihil officiis pariatur provident quod ratione recusandae
		repellendus similique voluptatem?
	</p>
	<p>Delectus deleniti dicta illo nam non ratione veritatis. Debitis, neque rerum! A, aperiam architecto dicta,
		dignissimos enim et expedita, illo illum ipsam ipsum itaque libero mollitia odio praesentium quidem suscipit!
	</p>
	<p>A accusantium animi asperiores atque consequatur culpa deleniti doloremque dolores eos eum fugiat in incidunt
		magnam, maiores minus officia perferendis praesentium provident, qui ratione rem repudiandae sed similique sit
		sunt.
	</p>
	<p>Aut autem commodi consequatur consequuntur corporis cum dicta, dolor dolorum earum incidunt ipsam iure
		laboriosam laudantium modi nam nemo nihil possimus quam quas quasi, repellat, repellendus vel. Consequatur,
		incidunt laudantium!
	</p>
	<p>Aliquam asperiores consequuntur cumque cupiditate deserunt dolorem eaque, earum error id incidunt itaque
		laboriosam laudantium libero porro quas quasi quisquam reprehenderit sed sint soluta suscipit, ullam vitae
		voluptatibus. Deleniti, suscipit.
	</p>
	<p>Debitis dolores, exercitationem facere fuga harum impedit in ipsam labore, laboriosam magni molestiae molestias
		nam non numquam odio officiis pariatur praesentium quisquam quod quos sint soluta tempora tenetur vitae
		voluptas!
	</p>
</div>
<footer-component></footer-component>
